body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: var(--mainOrange);
}
* {
  box-sizing: border-box;
}
.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}