:root {
  --main-color: rgb(255, 233, 227);
  --word-black: rgb(50, 50, 50);
}
body {
  font-family: MicroSoft JhengHei;
  color: var(--word-black);
}
ul {
  list-style-type: none;
}
header {
  margin-bottom: 50px;
}
button {
  cursor: pointer;
}
.nav {
  display: inline-block; 
}
.nav a {
  margin: 0 0 0 100px;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  color: var(--word-black);
  border-bottom: 4px solid var(--main-color);
}
.nav a:hover {
  text-decoration-line: none;
}
.container {
  margin-top: 10px;
}
.logo {
  width: 100px;
  border-radius: 10px;
}
.myBtn {
  margin-right: 20px;
  padding: 3px 12px 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
}
.btnName {
  font-size: 18px;
  display: inline-block;
  width: 120px;
  margin-bottom: 20px;
}
.totalPrice {
  font-size: 18px;
  text-align: right;
}
.food {
  font-size: 18px;
  width: 300px;
  height: 10px;
  margin-bottom: 8px;
  opacity: 0.6;
  border-radius: 3px;
}
.bread {
  height: 22px;
  border: 2px solid black;
}
.tomato {
  background-color: tomato;
}
.egg {
  background-color: gold;
}
.ham {
  background-color: firebrick;
}
.cucumber {
  background-color: green;
}