<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React</title>
  <style>
    .btn {
      margin-left: 10px;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <script type="text/babel">
    // -- Notice!! Component 名稱開頭必須要是大寫 

    // Class Component 可使用State & Lifecircle (下一篇會講到)
    class UserInfoByClass extends React.Component {
      render() {
        return (
          <div>
            <img src={this.props.url}/>            
            <p>Hello, {this.props.name}</p>
          </div>
        );
      }
    }


    // Function Component 使用function回傳JSX時，可直接用function名稱 做客製化元件
    function UserInfo(props) {
      return (
        <div>
          <img src="https://www2.gomaji.com/img/gomajidream.png"/>
          <p>Hello, User</p>
        </div>
      );
    }
    
    function Users() {
      return (
        <div>
          <UserInfo />
          <UserInfo />
          <UserInfo />
        </div>
      );
    }

    ReactDOM.render(
      <Users />,
      document.getElementById('root')
    );




    // 使用props傳遞資料(由上往下傳遞)，做客製化設定
    // 客製化component 無法使用 html的屬性，只做傳遞
    // props 可傳遞字串 物件 陣列等等...

    function User(props) {
      return (
        <div>
          <img src={props.url} />
          <p>Hello, {props.name}</p>
        </div>
      );
    }

    function UserList() {
      const userUrl = "https://www2.gomaji.com/img/gomajidream.png"
      return (
        <div>
          <User name="Andy" url={userUrl} />
          <User name="Cahal" url={userUrl} />
          <User name="Edite" url={userUrl} />
        </div>
      );
    }

    // ReactDOM.render(
    //   <UserList />,
    //   document.getElementById('root')
    // );




    // props可以是jacascript 表達式，或是js 物件
    const user =  <User id={1 + 2 + 3 + 4} />
    
    // props are read-only
    // ---correct
    function OhUser(props) {
      return <h1>Hello, {props.firstName + props.lastName}</h1>;
    }
    // ---wrong !!
    function OhUserAccount(props) {
      return <h1>Your account amount: {props.total += props.amount}</h1>;
    }




    // 將Component 組合起來(reuse component)

    // component的內容預設被當作children傳遞
    // component 也可當作props傳遞，
    function MyUser(props) {
      return (
        <h3>
          Hello, {props.name}
        </h3>
      );
    }

    function Message(props) {
      return <p>Your id is {props.id}</p>;
    }

    function App() {
      return (
        <div className="app">
          <MyUser name="Sara">
            <button className="btn">Button</button>
          </MyUser>
          <MyUser name="Cahal"/>
          <MyUser name="Edite">
            <div>
              <p style={{color: 'pink'}}>notice</p>
              <Message id="1"/>
            </div>
          </MyUser>
          <MyUser name="Cahal" />
        </div>
      );
    }

    // ReactDOM.render(
    //   <App />,
    //   document.getElementById('root')
    // );



    // 試著將Component抽離
    function Comment(props) {
      return (
        <div className="Comment">
          <div className="UserInfo">
            <img className="Avatar"
              src={props.author.avatarUrl}
              alt={props.author.name}
            />
            <div className="UserInfo-name">
             {props.author.name}
            </div>
          </div>
          <div className="Comment-text">
            {props.text}
          </div>
          <div className="Comment-date">
            {formatDate(props.date)}
          </div>
        </div>
      );
    }
  </script>
</body>

</html>