.large-hero {
	border-bottom: 10px solid var(--mainBlue);
	position: relative;

	&__image {
		display: block;
	}
	&__text-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
	}
	&__title {
		font-weight: 300;
		color: var(--mainBlue);
		margin: 0;
		font-size: 2.4rem;
		@mixin Small{
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: var(--mainBlue);
		font-size: 1.5rem;
		margin: 0;
		@mixin Small{
			font-size:2.9rem;
		}
	}

	&__description {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
		max-width: 30rem;
		margin: 1rem auto;
		@mixin Small{
		font-size:2.9rem;
		}
	}
}
.page-section {
	padding: 1.2rem 0;
	@mixin Medium {
		padding: 4.5rem 0;
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;
		@mixin Medium {
			padding-bottom: 4.5rem;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;
		@mixin Large {
			padding-bottom: 4.5rem;
		}
	}

	&--blue {
		background-color: var(--mainBlue);
		color: #FFF;
	}
	&--testimonials {
		background-color: #e0e6ef;

		@mixin Medium {
			background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
			background-size: cover;
		}
	}
}
.wrapper {
	overflow: hidden;
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
	&--medium {
		max-width: 976px;
	}

	&--no-pd-until-medium {
		padding-left: 0;
		padding-right: 0;
		@mixin Medium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	&--no-pd-until-large {
		padding-left: 0;
		padding-right: 0;
		@mixin Large {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
.headline {
	font-size: 1.9rem;
	font-weight: 300;
	color: var(--mainBlue);
	@mixin Small {
		font-size: 2.875rem;
	}

	&--orange {
		color: var(--mainOrange);
	}
	&--small {
		font-size: 1.2rem;
		@mixin Small {
			font-size: 1.875rem;
		}
	}
	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	&--light {
		font-weight: 100;
	}
	strong {
		font-weight: 400;
	}
	&--mg-b-small {
		margin-bottom: .5em;
	}
	&--mg-b-large {
		margin-bottom: 1.6em;
	}
}

.row {

	@mixin Clear;

	&--pd-t {
    	padding-top: 80px;
 	 }
	&--gutters {
		margin-right: -65px;
	}
	&--gutters > div {
		padding-right: 65px;
		box-sizing: border-box;
	}
	&--gutters-small {
    	margin-right: -45px;
  	}
  	&--gutters-small > div {
    	padding-right: 45px;
  	}
	&--gutters-large {
   		margin-right: -100px;
  	}
  	&--gutters-large > div {
    	padding-right: 100px;
  	}
	&__mg-b-medium {
		margin-bottom: 1rem;
	}

	@mixin Medium {
		&__mg-b-medium {
			margin-bottom: 0;
		}
		&__medium-4 {
			float: left;
			width: 33.33%
		}
		&__medium-4--larger {
			width: 37%;
		}
		&__medium-6 {
      		float: left;
      		width: 50%;
    	}
		&__medium-8 {
			float: left;
			width: 66.66%;
		}
		&__medium-8--smaller {
			width: 63%;
		}
	}
	@mixin Large {
		&__mg-b-large {
			margin-bottom: 0;
		}
		&__large-4 {
			float: left;
			width: 33.33%
		}
		&__large-4--larger {
			width: 37%;
		}
		&__large-6 {
      		float: left;
      		width: 50%;
    	}
		&__large-8 {
			float: left;
			width: 66.66%;
		}
		&__large-8--smaller {
			width: 63%;
		}
	}
	/* Begin Equal Height Rules */
	&--equal-height-at-medium {
		@mixin Medium {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
	&--equal-height-at-large {
		@mixin Large {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}
.mg-b {
	margin-bottom: 1rem;
	@mixin Small { 
		margin-bottom: 3.875rem
	}
}
.no-mg-t {
	margin-top: 0;
}
.content-container {
	p {
		font-weight: 300;
		line-height: 1.65;
		margin: 0 0 1.8rem;
		@mixin Small {
			font-size: 1.125rem;
			margin: 0 2rem 1.8rem;
		}
		@mixin Large {
			margin: 0 0 1.8rem;
		}
	}
	p a {
	font-weight: 700;		
	}
}
.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
	@mixin Small {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}
	&--blue {
    	color: var(--mainBlue);
  	}
	&__icon {
		position: relative;
      	top: 8px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
		@mixin Small {
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;
		}
	}
}
.feature-item {
	position: relative;
	padding-bottom: 2.5rem;
	@mixin Small {
		padding-left: 94px;
	}

	&__icon {
		display: block;
		margin: 0 auto;
		@mixin Small {
			position: absolute;
			left: 0;
		}
	}

	&__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: .7em;
		margin-bottom: .8rem;
		text-align: center;
		@mixin Small {
			text-align: left;
			margin-top: 1em;
			font-size: 1.875rem;
		}
	}
}
.testimonial {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 18px 1px 18px;
	margin-bottom: 98px;
	@mixin Large {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}
	&__photo {
		border-radius: 80px;
		overflow: hidden;
		width: 160px;
		height: 160px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid rgba(255, 255, 255, .8);
	}
	&__title {
		color: var(--mainBlue);
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}
	&__subtitle {
		color: var(--mainOrange);
		text-align: center;
		font-weight: 400;
		font-size: 0.9375rem;
		margin: .25rem 0 1rem 0;
	}
}