ul {
  margin-top: 30px;
  padding-left: 60px;
}
form label {
  display: block;
}
form input {
  text-align: right;
}
input {
  margin: 15px 0 0 15px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}
input.submit {
  margin-left: 200px;
  cursor: pointer;
  border-radius: 5px;
}
.output {
  margin-left: 20px;
}